body {
    margin: 0px;
    background-color: #000000;
}

p {
    width: 100%;
    margin: 0px;
    padding-left: 10px;
    font-family: monospace;
    font-size: 18px;
    font-weight: 200;
    color: #e1e1e1;
    background-color: #000000;
}